<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.khughes88.tapedeckfree"
      android:versionCode="35"
      android:versionName="2.1.2"
      android:installLocation="auto"
      >
    <application android:icon="@drawable/icon" android:label="Retro Tape Deck">
        <activity android:name=".MusicDroid"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
 <activity android:name=".deck2"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.deck" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".settings"
                  android:label="Settings"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.settings" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        	<service android:enabled="true"
	      android:name="net.khughes88.tapedeckfree.tapedeckservice"/>
    </application>
    <uses-sdk android:minSdkVersion="11" />
<uses-permission android:name="android.permission.VIBRATE"></uses-permission> 
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission> 
<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> 
</manifest> 